<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create</title>
    </head>
    <body>
        <header>
            <nav>
                <li>
                    <a href="{% url 'create_category' %}">Create Category</a>
                </li>
                <li>
                    <a href="{% url 'create_account' %}">Create Accounts</a>
                </li>
                <li>
                    <a href="{% url 'account_list' %}">View Accounts</a>
                </li>
                <li>
                    <a href="{% url 'category_list' %}">View Categories</a>
                </li>
            </nav>
        </header>
        <main>
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </main>
    </body>
</html>
